*,
*::before,
*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.grid { 
  display: grid;
  grid-template-areas: 
    "headerLeft header headerRight"
    "nav article ads"
    "footerLeft footer footerRight";
  grid-template-rows: 80px 1fr 130px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-items: center;
  }  

#header {
  grid-area: header;
  }

#headerRight {
  grid-area: headerRight;
}

#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 